swagger: "2.0"
info:
  title: "Kubiya API"
  description: "API documentation for Kubiya"
  version: "1.0.0"

host: "api.kubiya.com"
basePath: "/"
schemes:
  - "https"

securityDefinitions:
  JWT:
    type: "apiKey"
    name: "token"
    in: "header"

paths:
  /v1/integrations:
    get:
      summary: "Get integrations"
      tags:
        - "Integration"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /v1/integrations/{vendor}:
    get:
      summary: "Get vendor integration"
      tags:
        - "Integration"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "vendor"
          in: "path"
          description: "Vendor name"
          required: true
          type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      summary: "Delete vendor integration"
      tags:
        - "Integration"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "vendor"
          in: "path"
          description: "Vendor name"
          required: true
          type: "string"
      responses:
        "200":
          description: "Deleted"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /v1/integrations/{vendor}/status:
    post:
      summary: "Update vendor integration status"
      tags:
        - "Integration"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "vendor"
          in: "path"
          description: "Vendor name"
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: "Status update"
          required: true
          schema:
            type: "object"
            properties:
              status:
                type: "string"
      responses:
        "200":
          description: "Status updated"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /v1/secrets:
    get:
      summary: "Get secrets"
      tags:
        - "Secrets"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      summary: "Create secrets"
      tags:
        - "Secrets"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "body"
          in: "body"
          required: true
          schema:
            $ref: "#/definitions/SecretRequest"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/WorkflowResponse"
        "400":
          description: "Bad Request"
          schema:
            $ref: "#/definitions/HttpError"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/HttpError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/HttpError"

  /v1/runners:
    get:
      summary: "Get runners"
      tags:
        - "Runners"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/ErrorResponse"

  /v1/runners/{runner}/health:
    get:
      summary: "Get runner health"
      tags:
        - "Runners"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - name: "runner"
          in: "path"
          description: "Runner name"
          required: true
          type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/HealthCheckResponse"
        "401":
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/HttpError"
        "500":
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/HttpError"

  /version:
    get:
      summary: "Get API version"
      tags:
        - "Health"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Current API version"
          schema:
            type: "string"

  /whoami:
    get:
      summary: "Get user information"
      tags:
        - "Health"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "User information"
          schema:
            $ref: '#/definitions/WhoAmIResponse'

definitions:
  ErrorResponse:
    type: "object"
    properties:
      error:
        type: "string"
      success:
        type: "boolean"

  HttpError:
    type: "object"
    properties:
      code:
        type: "integer"
      error:
        type: "string"

  SecretRequest:
    type: "object"
    properties:
      secrets:
        type: "array"
        items:
          $ref: "#/definitions/SecretType"

  SecretType:
    type: "object"
    properties:
      base_64:
        type: "boolean"
      description:
        type: "string"
      name:
        type: "string"
      trace_id:
        type: "string"
      value:
        type: "string"

  WorkflowResponse:
    type: "object"
    properties:
      error:
        type: "string"
      result: {}
      status:
        type: "string"

  HealthCheckResponse:
    type: "object"
    properties:
      error:
        type: "string"
      health:
        type: "string"

  WhoAmIResponse:
    type: "object"
    properties:
      email:
        type: "string"
      organization:
        type: "string"